/* a class: */
.purple-heading-class{
    color: purple;
}

.absolute{
    position: aboslute;
    top:0;
    right:0;
}

/* an id: */
#green-text-id{
    color: green;
}

#blue-text-id{
    color: blue;
}

